layout: index
description: Aravind Reddy V. ECE student of IMTech at IIIT Bangalore
subtitle: Student by day, Hacker by night
comments: false
---
ul#intro-feature-list
  li.intro-feature-wrap
    .intro-feature
      .intro-feature-icon
        i.fa.fa-user
      h3.intro-feature-title Hii! 
      p.intro-feature-desc I'm Aravind, Electronics and Communication (ECE) student of Integrated MTech at  <a href="http://www.iiitb.ac.in/" style="color:#0e83cd; text-decoration:none;">IIIT B</a> angalore.
  li.intro-feature-wrap
    .intro-feature
      .intro-feature-icon
        i.fa.fa-pencil
      h3.intro-feature-title <a href="/blog/" style="color:#0e83cd; text-decoration:none;">Blog</a>
      p.intro-feature-desc I blog various things, mostly because I want to keep a record of my activities.
  li.intro-feature-wrap
    .intro-feature
      .intro-feature-icon
        i.fa.fa-magic
      h3.intro-feature-title I make things
      p.intro-feature-desc I like to build thins, take a look at my <a href="/portfolio" style="color:#0e83cd; text-decoration:none;">Portfolio</a>, for a peek at what I do.
  li.intro-feature-wrap
    .intro-feature
      .intro-feature-icon
        i.fa.fa-code-fork
      h3.intro-feature-title And make things better
      p.intro-feature-desc Checkout my contributions to various projects on <a href="https://github.com/zeroby0/" style="color:#0e83cd; text-decoration:none;">Github</a>.
